<h1>Find Item</h1>
<% form_for :item do |form| %>
  <%=form.text_field(:query, :helpText => 'Search for:',
        :ajaxURL => '/search/by_model?model0=Item&column0=name&model1=Item&column1=barcode&model2=Item&column2=serial_number&value=',
        :allowFreeText => true) %>
  <%=form.submit "go" %>
<% end %>
