<h1>Item list</h1>
<p>
  <select size=5>
    <% @items.each do |item| %>
      <optgroup label="<%=item.name %>">
        <option value="#{item.id}">
          <% if  item.serial_number %>
            <%="Serial Number: #{item.serial_number}" %>
          <% elsif item.model %>
            <%="Model: #{item.model}" %>
          <% end %>
        </option>
      </optgroup>
    <% end %>
  </select>
</p>
