<table>
<td position = top><h3> User Handling Menu</h3> </td><td>
 <%=button_to "Create a New User",{:action => 'new'}%> 
<!-- Notice the 'get' method: to restrict the controller's request.post? from bypassing the 'search' code -->
 <%=button_to "Search for an Existing User",{:action => 'search'}, :method => :get%>
 <%=button_to "List and Users",{:action=> 'list'}%> 
</td>
</table>
