<h3>User Details</h3> </br>
  <% for user in @all_users %>
  <b>Username:</b>  <%= h(user.username) %>  | <b>Role:</b> <%= h(user.role)%>  | <%= link_to "[edit]" , { # link_to options
			  :controller => 'user',:action => 'edit',:id => user}%></br> </br>
<%end%>
