<script type="text/javascript">
  var tt_cancel_destination = "/main/users"
</script>
<h3><%=@pagetitle %></h3>
<%= error_messages_for "users" %>

<% form_tag :action => 'new' do%>
  <%= render :partial => 'user_details'%>
  <%= submit_tag "Create" %>
<%end%>
