<div id="organization-name">Baobab Health Trust</div>
    <div id="report-subheader">
    <div id= "navigation-buttons"> </div>
    <div id="report-name"><b>Title : <%="#{@report_name}"%></b></div>
    <div id="print-date">Print date: <%= "#{Date.today}"%></div>
    <div id="quarter"> <b>From : </b> <i> <%= "#{@start_date}"%> </i> <b>    To : </b> <i> <%= "#{@end_date}"%></i></div>
  </div>
