<html>
  <head>
    <title>BIMS</title>
    <!%=javascript_include_tag "touchscreenToolkit"%>
    <%=stylesheet_link_tag "screen","bims" %>
  </head>
  <body>
    <table id="screen">
      <tbody>
        <tr valign="top">
          <td></td>
          <td id="left" class="view">
             <h3><%= flash[:notice]%></h3>
            <%=yield%>
          </td>
          <td id="right" class="view" >
            <%@tasks<<["Logout", user_path(:logout)] if @tasks%>
            <%= render(:partial=>"shared/task_list", :locals=>{:tasks=>@tasks}) %>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
