<html>
  <head>
    <title>BIMS</title>
    <%=javascript_include_tag "touchscreenToolkit"%>
    <%=stylesheet_link_tag "screen","touch" %>
  </head>
  <body>
    <table id="screen">
      <tbody>
        <tr valign="top">
          <td></td>
          <td id="left" class="view">
            <%=yield%>
          </td>
          <td id="right" class="view" >
            <%= render(:partial=>"shared/task_list", :locals=>{:tasks=>@tasks}) %>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
