<title><%=@pagetitle%></title>
<h3><%= flash[:notice]%></h3> 
<%= yield %> <!%=@my_content%>
<%# if User.method != 'index' then %>
<%= link_to "Back to Menu",{:action=> "index"} unless current_page? :action => "index" %> 
<%#end%>

